.collections
  .item 
    display: flex
    &.new
      animation: appear 1s
    .time 
      line-height: 56px
      margin-left: 5px
    img
      margin: 2px
      border: 1px #525252 solid
      background: #7c7c7c